.hero-home {
    position: relative;
    height: 350px;

    .text-right {
        padding-top: 110px; 
        color: #6c3f21;
        font-family: 'arsenal';
        text-align: left;

        h2 {
            font-size: 36px;
             text-shadow: 1px 1px #666;
        }

        p {
            font-size: 18px;
        }
    }

    .ovarlap-images {
        position: relative;
        height: 250px;
        list-style: none;

        li {
            list-style: none;
            display:inline-block;
            position: absolute;
        }

        li:first-child {
            left: 0;
            top: -20px;
            -ms-transform: rotate(-10deg); /* IE 9 */
            -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
            transform: rotate(-10deg);
        }

        li:last-child {
            left: 25%;
            top: 30%;
            -ms-transform: rotate(5deg); /* IE 9 */
            -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
            transform: rotate(5deg)
        }
    }
}


