<div class='hero-home row'>
   <div class='col-md-5'> 
       <ul class='ovarlap-images'> 
           <li>

                <ck-image imgSrc="/images/tiles/cakes/cake-1.jpg" 
                    height="250" width="250">
                    </ck-image>
           </li>
           <li>
                <ck-image imgSrc="/images/tiles/cakes/cake-1.jpg" 
                    height="250" width="250">
                    </ck-image>
           </li>
           
       </ul>            
                        
    </div>

    <div class='col-md-7 text-right'><h2>Best home made cakes </h2>
        <p> Chocolate, Pinneapple, Strawberry, Blueberry...and so on</p>    
    </div>                        
</div>
                    