<div class='hero-home-secondary row'>

     
   <div class='col-md-5 col-xs-12 pull-right'> 
       <ul class="ovarlap-images">
           <li>     <ck-image imgSrc="/images/tiles/cakes/cake-jar-1.jpg" 
                    height="250" width="300">
                    </ck-image>
           </li>
           <li>
               <ck-image imgSrc="/images/tiles/cakes/cake-2.jpg" 
                    height="250" width="250">
                    </ck-image>
           </li>
       </ul>
                    
                        
    </div>

    <div class='col-md-7 text-left col-xs-12 pull-left'><h2>Mousse & Cake Jars </h2>
        <p> Chocolate Mousse, Strawberry Mousse, Raspberry...and so on</p>    
    </div> 

                          
</div>
                    