
.ck-image-container {
    background: #fff;
    display: inline-block;
    padding: 5px;
    border: 1px solid #efefef;
    box-shadow: 2px 2px 2px 0px #666;

    .image-wrapper {
        display: inline-block;
        padding: 2px;
        border-color: #6c3f21;
    }

}

