<section class='app-content'>
            <header class="container"><ck-header> </ck-header></header>
            <section>
                <ck-panel theme='peach'>
                    <hero-home></hero-home>
                </ck-panel>
                <ck-panel theme='light-cyan'>
                    <hero-home-secondary></hero-home-secondary>
                </ck-panel>
                <ck-panel theme='pink'>
                    <hero-bottom></hero-bottom>
                </ck-panel>
            </section>
            <footer class="container"><ck-footer> </ck-footer></footer>
</section>