.ck-footer-content {
    color: #6c3f21;
    padding-top: 70px;
    padding-bottom: 30px;

    footer {
        color: #999;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding-left: 10px;
    }
 
}